robit.log
robit_0_4_4.db

$py.class
.coverage
.coverage.*
.DS_Store
.Python
.dmypy.json
.env
.installed.cfg
.manifest
.nosetests.xml
.pip-log.txt
.pip-delete-this-directory.txt
.pyre
*.7z
*.bak
*.bat
*.cover
*.diff
*.dSYM
*.egg
*.env
*.iml
*.ll
*.log
*.manifest
*.media
*.mo
*.orig
*.patch
*.pot
*.profdata
*.profraw
*.py,cover
*.py[cod]
*.pyc
*.pyd
*.pyo
*.rej
*.rlib
*.sage.py
*.so
*.spec
*.sql
*.static
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.swn
*.tmp
*.xlsx
*.zip
Cargo.lock
Thumbs.db
db.sqlite3
db.sqlite3-journal
desktop.ini
htmlcov
ipython_config.py
local_settings.py
pip-delete-this-directory.txt
pip-log.txt

.eggs/
.idea
.venv/
.venv_linux
.venv_mac
.venv_unix
.venv_windows
.venv_win
.vscode/
ENV/
ENV.bak/
__pycache__/
cache/
cython_debug/
develop-eggs/
dist/
downloads/
eggs/
env/
env.bak/
inspectionProfiles/
instance/
lib/
lib64/
node_modules/
parts/
profile_default/
sdist/
share/python-wheels/
site/
target/
tmp/
var/
venv/
venv.bak/
venv_linux
venv_mac
venv_unix
venv_windows
venv_win
workflows/
/media/
/static/
